Cadastro itens de consumo.json
{
  "name": "Cadastro itens de consumo",
  "nodes": [
    {
      "parameters": {
        "content": "## Automação via formulário",
        "height": 2256,
        "width": 3952,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -400
      ],
      "id": "9f6fb889-bac2-46a1-8fe2-46ef14be139a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        80
      ],
      "id": "24105541-af00-45d1-b9f8-8c6459d56ada",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        752
      ],
      "id": "7b573a8d-b28d-4651-87e8-9d94c5295075",
      "name": "Cria o output em JSON "
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        1456
      ],
      "id": "4cbe5118-bdc9-49c8-9b8d-ee5314c01a29",
      "name": "Cria o output em JSON 4"
    },
    {
      "parameters": {
        "jsCode": "const codigo = $json.codigo_TH;\n\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\nconst novoNumero = numeroAtual + 1;\n\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        608
      ],
      "id": "a6a9bf35-18be-4170-b985-8538cbaca877",
      "name": "Código para separa String de int1"
    },
    {
      "parameters": {
        "jsCode": "const codigo = $json.codigo_salinas;\n\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\nconst novoNumero = numeroAtual + 1;\n\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1296
      ],
      "id": "db3701aa-3c09-4a73-a202-89ef00d79f74",
      "name": "Código para separar String de int2"
    },
    {
      "parameters": {
        "jsCode": "const codigo = $json.codigo_IB;\n\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\nconst novoNumero = numeroAtual + 1;\n\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -80
      ],
      "id": "a36f6b0d-3544-4e58-a18a-93f2722b180e",
      "name": "Código para separar String de int3"
    },
    {
      "parameters": {
        "content": "## Trigger, após o envio dos dados do cadastro ele dispara para realizar o resto do processo \n",
        "height": 352,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        432
      ],
      "typeVersion": 1,
      "id": "fe5c79b3-e795-43d5-89bc-9fa5dccbb30b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Se nenhuma conta contábil se encaixar com o item, entrara em contato com algum responsável\n",
        "height": 1648,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        -352
      ],
      "typeVersion": 1,
      "id": "8602c3bf-5ab3-4af9-a27f-9594eb2927cb",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields7').item.json['Banco de dados'] }}",
                    "rightValue": "INBRANDS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "3e4995cc-3568-44bc-a031-73ce9127e328"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66a77779-5c92-4be3-b1e3-83a759a808e0",
                    "leftValue": "={{ $('Edit Fields7').item.json['Banco de dados'] }}",
                    "rightValue": "TOMMY",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d88002-6847-4262-a43a-5d2f1374be6b",
                    "leftValue": "={{ $('Edit Fields7').item.json['Banco de dados'] }}",
                    "rightValue": "SALINAS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        592
      ],
      "id": "6a89366c-179f-4a68-90cb-609f39bbf6ed",
      "name": "Decisão do Banco de dados1"
    },
    {
      "parameters": {
        "content": "## Comando do SQL que insere os dados do cadastro direto no banco\n",
        "height": 1728,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        -112
      ],
      "typeVersion": 1,
      "id": "5d608c51-ecd2-4b92-8131-3c04958af918",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para o usuário que solicitou o cadastro",
        "height": 1712,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4560,
        -96
      ],
      "typeVersion": 1,
      "id": "580a65c4-8c68-42fb-a483-f90e3f500afe",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Decisão da conta contábil ",
        "height": 1760,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        -176
      ],
      "typeVersion": 1,
      "id": "a04d42a2-d0b8-4858-b670-1581be0b8afd",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ JSON.parse($json.output).id_conta }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3168,
        1296
      ],
      "id": "f7a93cbc-d24b-4a00-8b9e-be70b985d556",
      "name": "If12"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO CADASTRO_ITEM_FISCAL\n  (ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE\n  ,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n  ('{{ $('Edit Fields1').item.json.desc_item }}'\n  , '{{ $('Edit Fields3').item.json.codigo_item }}'\n  , 'UN'\n  , '{{ $('Edit Fields1').item.json.CST }}'\n  , '{{ $('Edit Fields1').item.json.NCM }}'\n  , '{{ $json.conta }}'\n  , '13'\n  , '03'\n  , '07'\n  , '9')",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4016,
        1456
      ],
      "id": "c3c59f36-ec21-484f-8343-870fe94b67d7",
      "name": "Microsoft SQL12",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.output }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3168,
        608
      ],
      "id": "df5d2b9f-2034-4d3a-95cf-c2c8148eeb3e",
      "name": "If13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE\n  , TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Edit Fields1').item.json.desc_item }}'\n  , '{{ $('Edit Fields2').item.json.codigo_item }}'\n  , 'UN'\n  , '{{ $('Edit Fields1').item.json.CST }}'\n  , '{{ $('Edit Fields1').item.json.NCM }}'\n  , '{{ $json.conta }}'\n  , '13'\n  , '2'\n  , '07'\n  , '9')",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4016,
        752
      ],
      "id": "f4ee19e7-6f14-46f6-865f-bda4492cf7f8",
      "name": "Microsoft SQL13",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.output }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3168,
        -80
      ],
      "id": "9cda9385-36a3-4b72-aff1-bb75e657a7dd",
      "name": "If14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE\n  ,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Edit Fields1').item.json.desc_item }}'\n  , '{{ $('Edit Fields').item.json.codigo_item }}'\n  , 'UN'\n  , '{{ $('Edit Fields1').item.json.CST }}'\n  , '{{ $('Edit Fields1').item.json.NCM }}'\n  , '{{ $json.conta }}'\n  , '13'\n  , '02'\n  , '07'\n  , '9')",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4032,
        80
      ],
      "id": "4aca2aa0-94c8-4074-9534-a0ab306c25a4",
      "name": "Microsoft SQL14",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "CONTA CONTÁBIL NÃO ENCONTRADA",
        "message": "=Olá!  <br><br>Não foi encontrada nenhuma conta para o item {{ $('Edit Fields7').item.json['Nome do item'] }}.  <br>Para o cadastro desse item sera necesario o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3456,
        1104
      ],
      "id": "e87ca52e-de10-43d7-833b-d6f6f5f54a5b",
      "name": "Send a message6",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "CONTA CONTÁBIL NÃO ENCONTRADA",
        "message": "=Olá!  <br><br>Não foi encontrada nenhuma conta para o item {{ $('Edit Fields7').item.json['Nome do item'] }}.  \n\n<br>Para o cadastro desse item sera necesario o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3456,
        512
      ],
      "id": "fbd14392-eb77-4d23-9c68-99504dea659c",
      "name": "Send a message7",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "CONTA CONTÁBIL NÃO ENCONTRADA",
        "message": "=Olá!\n\n<br><br>Não foi encontrada nenhuma conta para o item {{ $('Edit Fields7').item.json['Nome do item'] }}.\n\nPara o cadastro desse item sera necesario o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3456,
        -128
      ],
      "id": "4f8dd952-d92d-4f4a-9cf9-6a03aeb381d7",
      "name": "Send a message8",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Erro no banco",
        "message": "=Mensagem a decidir",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4320,
        288
      ],
      "id": "92345074-88a9-42f9-9d6a-f31639487087",
      "name": "Send a message9",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Erro no banco",
        "message": "=A decidir",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4320,
        960
      ],
      "id": "a4995b2a-d8e1-4d5a-8047-75d28e030abd",
      "name": "Send a message10",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Erro no banco",
        "message": "=A decidir ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4320,
        1664
      ],
      "id": "c504df98-6d75-4876-b74e-ab2c1a9a9421",
      "name": "Send a message11",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields7').item.json.email }}",
        "subject": "CADASTRO DE ITEM",
        "message": "=Ola!<br><br>Segue o cadastro do item {{ $('Edit Fields7').item.json['Nome do item'] }} com o código: {{ $('Edit Fields4').item.json['NCM do item '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4608,
        1456
      ],
      "id": "a4f2bfe6-a0ba-4093-a098-993668901bd8",
      "name": "Send a message12",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields7').item.json.email }}",
        "subject": "CADASTRO DE ITEM",
        "message": "=Ola!<br><br>Segue o cadastro do item {{ $('Edit Fields7').item.json['Nome do item'] }} com o código: {{ $('Edit Fields5').item.json['NCM do item '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4608,
        752
      ],
      "id": "3b8b60c0-26e8-460c-896a-e7e245fcc3c6",
      "name": "Send a message13",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields7').item.json.email }}",
        "subject": "CADASTRO DE ITEM",
        "message": "=Ola!<br><br>Segue o cadastro do item {{ $('Edit Fields7').item.json['Nome do item'] }} com o código: {{ $('Edit Fields7').item.json['NCM do item '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4608,
        80
      ],
      "id": "350534a5-9591-47d5-9b20-f416a9f9a52b",
      "name": "Send a message14",
      "webhookId": "92431ca1-4f89-460d-ba01-703ce20cb24a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        1296
      ],
      "id": "628a2812-4a5b-400a-958c-1e7d25f43c20",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        608
      ],
      "id": "0242ebe9-7cd6-4948-b4d2-74121bd11cb7",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        -80
      ],
      "id": "f8eae316-b26e-4d8d-8938-3ef55afff384",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3934ef80-1aa1-4980-bc90-0c4f3ba5f770",
              "name": "desc_item",
              "value": "={{ $json['Nome do item'].toString() }}",
              "type": "string"
            },
            {
              "id": "4aae4cc5-c4e4-4329-9882-e86270734099",
              "name": "NCM",
              "value": "={{ ($json['NCM do item ']).replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "1b4118d0-9d73-409d-9344-329df8dc8001",
              "name": "email",
              "value": "={{ $json['E-mail corporativo'].toString() }}",
              "type": "string"
            },
            {
              "id": "4871880a-87ff-45a1-aa85-f837cd0db2a2",
              "name": "Banco de dados",
              "value": "={{ $json['Banco de dados'] }}",
              "type": "string"
            },
            {
              "id": "52a285ea-0f57-4e8f-9da8-8316e5485e6c",
              "name": "CST",
              "value": "={{ ($json.CST).padStart(0,1) }}",
              "type": "string"
            },
            {
              "id": "c18cfb14-3681-465d-99b2-3cc7cfe5acc3",
              "name": "setor",
              "value": "={{ $json['Setor da pessoa '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        608
      ],
      "id": "fa2749c7-ae74-450d-a793-0ea5fd02bfd1",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "formTitle": "Cadastro de itens",
        "formDescription": "=Para realizar o cadastro de um item, é obrigatório informar corretamente os dados abaixo.\n\n<br><br>Selecione qual banco de dados o item deverá ser cadastrado.\n<br>Informe a descrição do item exatamente conforme consta na nota fiscal.\n<br>Informe o NCM conforme apresentado na nota fiscal (lembre - se nessa etapa não tem a validação do NCM logo ele tera que ser validado antes manualmente).\n<br>Informe o código tributário correspondente, podendo ser CST, O/CST ou CST/CSOSN, de acordo com o tipo da nota fiscal (estes são alguns exemplos possíveis).\n<br>Informe o e-mail corporativo da pessoa solicitante para o envio do cadastro.\n\n<br><br>O correto preenchimento dessas informações é essencial para garantir o cadastro correto do item no sistema.",
        "formFields": {
          "values": [
            {
              "fieldName": "Banco de dados",
              "fieldLabel": "Qual banco para cadastrar o item",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "INBRANDS"
                  },
                  {
                    "option": "TOMMY"
                  },
                  {
                    "option": "SALINAS"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "Nome do item",
              "fieldLabel": "Descrição do item",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldName": "NCM do item ",
              "fieldLabel": "NCM do item",
              "requiredField": true
            },
            {
              "fieldName": "CST",
              "fieldLabel": "CST - Código de Situação Tributária",
              "requiredField": true
            },
            {
              "fieldName": "Setor da pessoa ",
              "fieldLabel": "Selecione o setor solicitante ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Manutenção"
                  },
                  {
                    "option": "Marketing"
                  },
                  {
                    "option": "Visual Merchandising"
                  },
                  {
                    "option": "Gente & Gestão"
                  },
                  {
                    "option": "T.I"
                  },
                  {
                    "option": "Logística"
                  },
                  {
                    "option": "Obras"
                  },
                  {
                    "option": "Produção"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "E-mail corporativo",
              "fieldLabel": "Digite o e-mail corporativo da pessoa solicitante ",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "path": "92590146-3700-427e-ae82-233a5c8f8b60",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "O cadastro será enviado para o e-mail corporativo informado."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        1120,
        608
      ],
      "id": "ec415229-a2c5-45e4-a12e-1a3734c25592",
      "name": "On form submission1",
      "webhookId": "92590146-3700-427e-ae82-233a5c8f8b60"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Edit Fields7').item.json.desc_item }}\n\nSetor do solicitante:\n{{ $('Edit Fields7').item.json.setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas IB\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2672,
        -80
      ],
      "id": "44e735ca-a9fd-45bd-a7dc-227243b4d533",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1920,
        -80
      ],
      "id": "1f10ff50-a9ed-4e8c-a2fa-e72b4dde607f",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Edit Fields7').item.json.desc_item }}\n\nSetor do solicitante:\n{{ $('Edit Fields7').item.json.setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas TH\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2688,
        608
      ],
      "id": "3706c2b1-2993-4a86-bd28-1090c6e1bb1a",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Edit Fields7').item.json.desc_item }}\n\nSetor do solicitante:\n{{ $('Edit Fields7').item.json.setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas salinas\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2704,
        1296
      ],
      "id": "ead7402c-1a9f-4361-9691-aead078457ff",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1872,
        608
      ],
      "id": "b03df0cb-cd91-4f2c-a813-780418155857",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1872,
        1296
      ],
      "id": "08419a48-ee14-4971-a0f6-f566ff2e8d4e",
      "name": "Get row(s)2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_salinas",
              "keyValue": "={{ $('Get row(s)2').item.json.codigo_salinas }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_salinas": "={{ $('Edit Fields4').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4320,
        1456
      ],
      "id": "7910165a-560f-4cd6-9b40-9dde06b8fe35",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_TH",
              "keyValue": "={{ $('Get row(s)1').item.json.codigo_TH }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_TH": "={{ $('Edit Fields5').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4320,
        752
      ],
      "id": "2d2c4895-c372-4637-b9be-61a6aa2f259f",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DZ8K8bQwH9iwwByS",
          "mode": "list",
          "cachedResultName": "Contas contábeis TH",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/DZ8K8bQwH9iwwByS"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        2784,
        816
      ],
      "id": "501113d3-734a-4f37-af6b-5bd612b87920",
      "name": "Contas TH"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "agLxvRgrY7zXAFby",
          "mode": "list",
          "cachedResultName": "Contas contábeis IB",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/agLxvRgrY7zXAFby"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        2768,
        128
      ],
      "id": "9e243635-6c7e-449b-b5a2-17a5d90814e3",
      "name": "Contas IB"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "XfhSWIN8FRXjIV8U",
          "mode": "list",
          "cachedResultName": "Contas contábeis salinas",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/XfhSWIN8FRXjIV8U"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        2880,
        1488
      ],
      "id": "266958d3-d3e9-4c31-bbc4-7e27e90ef704",
      "name": "Contas salinas"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_IB",
              "keyValue": "={{ $('Get row(s)').item.json.codigo_IB }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_IB": "={{ $('Edit Fields6').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4320,
        80
      ],
      "id": "9137b9fb-30cd-463f-a41f-fd53e9d5bb0e",
      "name": "Update row(s)2"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Microsoft SQL14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON ": {
      "main": [
        [
          {
            "node": "Microsoft SQL13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 4": {
      "main": [
        [
          {
            "node": "Microsoft SQL12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separa String de int1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão do Banco de dados1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL12": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL13": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL14": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Decisão do Banco de dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Código para separar String de int3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Código para separa String de int1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Código para separar String de int2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Send a message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Send a message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas TH": {
      "ai_tool": [
        [
          {
            "node": "Message a model1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contas IB": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contas salinas": {
      "ai_tool": [
        [
          {
            "node": "Message a model2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)2": {
      "main": [
        [
          {
            "node": "Send a message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9651572c-092c-4f9f-b53d-933fe11e5f70",
  "meta": {
    "instanceId": "1e7948feed7ad6a9d739915ed2a5fb1a4448b6865bf0a3749eb9703dbe25ec1f"
  },
  "id": "g0POpiFO4cYmpsOE",
  "tags": [
    {
      "updatedAt": "2026-03-16T22:12:37.414Z",
      "createdAt": "2026-03-16T22:12:37.414Z",
      "id": "SjM7eBU90RPKWG23",
      "name": "Cadastro de itens"
    }
  ]
}