Cadastro itens de consumo completo.json
{
  "name": "Cadastro itens de consumo completo",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 4').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $('Code in JavaScript').item.json['id_conta'] }}'\n  , '13'\n  , '02'\n  , '07'\n  , '9')\n\n\n\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        7136,
        704
      ],
      "id": "d7ef2bc0-61e4-412d-b282-5226f3d0afc9",
      "name": "Microsoft SQL",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5840,
        544
      ],
      "id": "51523fab-15d1-45e4-89c1-3512acb83f18",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE\n  , TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 5').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $('Code in JavaScript').item.json['id_conta'] }}'\n  , '13'\n  , '2'\n  , '07'\n  , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        7152,
        1312
      ],
      "id": "cf2b8685-b430-44b3-a064-ffe19ff00897",
      "name": "Microsoft SQL2",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5872,
        1136
      ],
      "id": "e80b1087-b315-4677-9292-fd2b64b36911",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n  (ITEM_DESCRICAO\n    , CODIGO_ITEM\n    , UNIDADE\n    , TRIBUT_ORIGEM\n    , CLASSIF_FISCAL\n    , CONTA_CONTABIL\n    , INDICADOR_CFOP\n    , ITEM_FISCAL_GRUPO\n    , TIPO_ITEM_SPED\n    , IDENT_UTILIZACAO_IMOB)\nVALUES\n  ('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n    , '{{ $('Edit Fields 6').item.json['Codigo do item'] }}'\n    , 'UN'\n    , '{{ $('Loop Over Items').item.json.CST }}'\n    , '{{ $('Loop Over Items').item.json.NCM }}'\n    , '{{ $('Code in JavaScript').item.json['id_conta'] }}'\n    , '13'\n    , '03'\n    , '07'\n    , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        7152,
        1920
      ],
      "id": "48560f60-2ec9-499b-b32c-4fd5bb0c3511",
      "name": "Microsoft SQL3",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "VCEYzouSnFGOmmxO",
          "name": "Banco salinas"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5872,
        1728
      ],
      "id": "be3b75f2-79f5-42c3-ab92-f95ecf06f5ca",
      "name": "If5"
    },
    {
      "parameters": {
        "content": "## Decisão da conta contábil ",
        "height": 1584,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5392,
        480
      ],
      "typeVersion": 1,
      "id": "ffa0ce05-5a3b-4ef7-b9d1-ab6c14c268fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        1728
      ],
      "id": "98e7f908-bf28-4d96-b0d9-f3ee9b273bd6",
      "name": "Planilha de códigos de itens salinas",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4720,
        1136
      ],
      "id": "7027b9be-f60e-4848-af7d-edfce43f25f1",
      "name": "Planilha de código de itens Tommy",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        544
      ],
      "id": "46efb3e6-2b4e-4f5c-860d-8c86dd39d03c",
      "name": "Planilha de código de itens Inbrands",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 6').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7424,
        1888
      ],
      "id": "b181cf07-c941-49ea-9135-2c101e1381df",
      "name": "Planilha para adicionar o item cadastrado SL",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 5').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        1280
      ],
      "id": "f96cd6af-f1e8-4a0f-9d6c-abd5298deaa2",
      "name": "Planilha para adicionar o item cadastrado TH",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 4').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        704
      ],
      "id": "dbdb0738-1f0c-4452-a3f6-d1ed9ae62c70",
      "name": "Planilha para adicionar o item cadastrado IB",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Reponde o e-mail para o usuário que solicitou o cadastro",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        576
      ],
      "typeVersion": 1,
      "id": "40320b76-f41c-4a4b-86ec-4c7ba27a9a4d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Comando do SQL que insere os dados do cadastro direto no banco\n",
        "height": 1600,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7104,
        480
      ],
      "typeVersion": 1,
      "id": "b8f6c4ac-bd07-439e-87d9-57fb5ca9e0f4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IA que vai decidir se o NCM informado esta certo.",
        "height": 320,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        1040
      ],
      "typeVersion": 1,
      "id": "a86f208e-8385-4f5d-88ec-66f426a3e811",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "09",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e4995cc-3568-44bc-a031-73ce9127e328"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INBRANDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66a77779-5c92-4be3-b1e3-83a759a808e0",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOMMY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d88002-6847-4262-a43a-5d2f1374be6b",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "06",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALINAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a97cb03-f882-4fde-9122-bf3240e70297",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nenhum e-mail correto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3440,
        1120
      ],
      "id": "0fdf2957-3131-4da3-8a3f-cbb3951ea367",
      "name": "Decisão do Banco de dados"
    },
    {
      "parameters": {
        "content": "## Se nenhuma conta contábil se encaixar com o item, entrara em contato com algum responsável\n",
        "height": 1648,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6096,
        64
      ],
      "typeVersion": 1,
      "id": "03f615f2-006d-4315-b747-b08798bd0423",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4064,
        480
      ],
      "id": "6b0c496b-9a35-487d-8cde-633eaa7e3678",
      "name": "Microsoft SQL4",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4272,
        480
      ],
      "id": "d7529409-d7cc-4950-a539-ffa317447c73",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4032,
        1136
      ],
      "id": "06ce5d3d-bfe3-4dae-aa44-0ea97f115409",
      "name": "Microsoft SQL8",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4272,
        1136
      ],
      "id": "3a1d59f5-e3c9-4065-8ff2-6c5a4e22939f",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        4048,
        1728
      ],
      "id": "6bf18ca7-c37d-4fac-a5ee-7412479daa02",
      "name": "Microsoft SQL6",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "VCEYzouSnFGOmmxO",
          "name": "Banco salinas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4256,
        1728
      ],
      "id": "37d781d8-c7d0-4fab-a1ce-027639e445fa",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        544
      ],
      "id": "68e7b91f-145f-436e-88c9-b426b4f599fa",
      "name": "Código para separar String de int"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai prefixo e versão (ex: IF14.0.16)\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+(?:\\.\\d+)*)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return [ultimoItem];\n}\n\nconst prefixo = match[1];\nconst versao = match[2];\n\n// 4️⃣ Quebra a versão em partes numéricas\nconst partes = versao.split('.').map(n => parseInt(n, 10));\n\n// 5️⃣ Incrementa APENAS a última parte\npartes[partes.length - 1] += 1;\n\n// 6️⃣ Reconstrói a versão\nconst novaVersao = partes.join('.');\n\n// 7️⃣ Novo código\nconst novoCodigo = `${prefixo}${novaVersao}`;\n\n// 8️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 9️⃣ Retorna APENAS o último item\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1728
      ],
      "id": "f1eebcf6-76fc-4ff1-bddb-496d89d4ffb5",
      "name": "Código para separar String de int1"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1136
      ],
      "id": "909ba3d7-f900-4397-9e63-11ab092d7426",
      "name": "Código para separa String de int"
    },
    {
      "parameters": {
        "jsCode": "const conta = JSON.parse($input.first().json.content.parts[0].text)\n\nreturn [\n  {\n    json: conta\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6416,
        1904
      ],
      "id": "1cbf23e6-3e3b-4a9b-85c4-7c6f33992e44",
      "name": "Cria o output em JSON 3"
    },
    {
      "parameters": {
        "jsCode": "const conta = JSON.parse($input.first().json.content.parts[0].text)\n\nreturn [\n  {\n    json: conta\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        1296
      ],
      "id": "b75c397f-2484-4a67-8e91-7a315164ccc8",
      "name": "Cria o output em JSON 2"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6416,
        608
      ],
      "id": "71423d1d-a615-45b3-82f8-a87bc757cd10",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        848,
        1152
      ],
      "id": "b1dd53ea-362d-4c3e-a786-4c8de3ea038e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        976
      ],
      "id": "683cdab1-7dcf-46d9-b10d-3b3b8804981f",
      "name": "Mark a message as read",
      "webhookId": "032fe5b2-f2ec-44c3-a0c1-3b6ac138642c",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1280,
        1152
      ],
      "id": "5a51dee1-561c-462f-b642-0ae6d05375b2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"Extrair campo CNPJ/CPF do destinatario\"\n    },\n    \"itens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome_item\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair a descrição completa do produto ou serviço exatamente como aparece no documento.\"\n          },\n          \"ncm\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo NCM\"\n          },\n          \"cst\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CST ou O/CST ou CSOSN\"\n          },\n          \"CFOP\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CFOP\"\n          },\n          \"codigo\": {\n            \"type\" : \"string\",\n            \"description\" : \"em itens da nota fiscal extrair o campo codigo\"\n          }\n        },\n        \"required\": [\n          \"nome_item\",\n          \"ncm\",\n          \"cst\",\n          \"CFOP\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"cnpj\",\n    \"itens\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1488,
        1152
      ],
      "id": "597abf87-b6d5-40c8-8c56-2406909abbe6",
      "name": "Information Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        1360
      ],
      "id": "9be34b66-e616-4052-a8d0-62367536d837",
      "name": "Google Gemini Chat Model4",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "PWue6OTmm868MBhI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "099cd04c-e7f2-46a9-b076-18768c4a707f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        1168
      ],
      "id": "dc6e1223-0516-470a-b05f-be9b7cbc6773",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para suporte caso o NCM não bata com a descrição do item",
        "height": 304,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3168,
        1312
      ],
      "typeVersion": 1,
      "id": "adf52ae5-4a22-41d8-a396-4730a195adc6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.itens",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1824,
        1152
      ],
      "id": "f2ce216a-920d-4684-a64b-0a1264264942",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2304,
        1152
      ],
      "id": "f10a80a1-8baa-43df-bc1f-1d9f07b1fcb0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $items('Edit Fields 1')[0].json.id }}",
        "message": "=Olá!\n\n<br><br>Segue o cadastro de itens abaixo.\n\n<br><br>\n\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Código do item</th>\n            <th style=\"border: 1px solid #ccc;\">Descrição do item</th>\n        </tr>\n    </thead>\n    <tbody>\n    {{\n    $('Aggregate3').item.json.data\n      .filter(d => d[\"Codigo do item\"] && d[\"Desc do item\"])\n      .map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Codigo do item\"]}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Desc do item\"]}\n            </td>\n        </tr>\n      `).join('')\n    }}\n    </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3440,
        704
      ],
      "id": "53dcce68-8751-4409-b3f3-99a73c6c82b8",
      "name": "Reply to a message1",
      "webhookId": "76896a78-2e21-4f5f-ae89-9c76a0420b5b",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2656,
        848
      ],
      "id": "88446add-2925-420b-9b5e-3258d9feb131",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "content": "## Manda e-mail falando que o CNPJ esta errado ",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3984,
        2240
      ],
      "id": "6a9c86f7-207f-4707-88c3-0a0dc40f7907",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Verifica se o NCM esta no banco",
        "height": 1584,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3984,
        336
      ],
      "id": "f57117ed-731f-4fdb-9319-95262de7eb70",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Estrai do PDF todos os dados ",
        "height": 304,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        1024
      ],
      "id": "2626df58-62c4-4e29-a84e-67b199294144",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## IA que identifica os campos informados e retorna seus respectivos resultados",
        "height": 496,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        992
      ],
      "id": "a10904eb-7498-4526-a25a-fb83643046b0",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Automação cadastro de itens ",
        "height": 2672,
        "width": 6944,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -64
      ],
      "id": "c3877638-c6e5-4ec0-8cb2-5d4c4f750a7b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "message": "Olá!\n\nO e-mail enviado veio sem o arquivo.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        1376
      ],
      "id": "39197838-ea0d-4ab0-b008-789ab67bfbc0",
      "name": "Reply to a message",
      "webhookId": "2bc31233-fada-432a-b6ef-c6908e2ffdd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>O item {{ $('Loop Over Items').item.json['Nome do item'] }} não combina com o NCM {{ $('Loop Over Items').item.json.NCM }}.\n\n<br><br>Para o cadastro desse item e quando o NCM estiver correto necessario realizar o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3248,
        1488
      ],
      "id": "ad77d838-7983-4ddf-a482-5a223c776f2f",
      "name": "Reply to a message2",
      "webhookId": "3eac3d97-a0a1-4b9c-8e72-cf0fc1439094",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=O usuário {{ $('Gmail Trigger').item.json.from.value[0].address }} acabou mandando uma nota com o CNPJ incorreto, responsaveis por favor resolver.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4048,
        2368
      ],
      "id": "4a09b2bb-720d-4b82-83b4-52151560b9dd",
      "name": "Reply to a message3",
      "webhookId": "66237d11-1b98-45c9-bb19-1214cc863412",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6192,
        272
      ],
      "id": "58f52d53-0b1c-48fa-8a99-37e2597a5690",
      "name": "Reply to a message4",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4544,
        272
      ],
      "id": "867e9133-4d2b-4b5c-9229-ac509874c500",
      "name": "Send a message",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\n<br><br>O codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\n<br><br>Segue dados:\n\n<br><br>Descrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Com o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\n<br><br>Com o CST: {{ $('Edit Fields 2').item.json.CST }}\n\n<br><br>E com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7440,
        896
      ],
      "id": "74a26674-108b-4e70-abc1-07dbada5d595",
      "name": "Send a message1",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n<br><br>\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br><br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n<br><br>\nSegue dados:\n<br><br>\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n<br><br>\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n<br><br>\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n<br><br>\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7440,
        1472
      ],
      "id": "014905ef-86ca-46c1-8fcb-6acd7ec7c478",
      "name": "Send a message2",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7424,
        2080
      ],
      "id": "1a3b2499-8dcd-40a9-a594-9738eae3b811",
      "name": "Send a message3",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>Não foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Caso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6192,
        928
      ],
      "id": "db45cbe1-2f9b-425d-9dbe-aee8fae67318",
      "name": "Reply to a message5",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6192,
        1504
      ],
      "id": "c86750fc-0b7f-4055-a79d-3fdc1952fa32",
      "name": "Reply to a message6",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4496,
        928
      ],
      "id": "9656c879-163b-4162-aacb-a61b7d5bf249",
      "name": "Send a message4",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4512,
        1504
      ],
      "id": "91abd682-9669-4676-ba6c-916d89f1ea72",
      "name": "Send a message5",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        544
      ],
      "id": "026aa86b-c5c6-4242-b280-87d55476b299",
      "name": "Edit Fields 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a167fc-4392-45cc-8a6e-efeb6ffbff77",
              "name": "BANCO",
              "value": "={{ ($json.output.cnpj).slice(0,2) }}",
              "type": "string"
            },
            {
              "id": "ab6d938a-8b78-4820-a81d-4afa1e908ee1",
              "name": "NCM",
              "value": "={{ ($json['output.itens'].ncm).replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "83cdcb94-679f-4860-968c-82a94680bced",
              "name": "Nome do item",
              "value": "={{ $json['output.itens'].nome_item }}",
              "type": "string"
            },
            {
              "id": "8b8589f0-02e5-4852-ad34-89908560b00a",
              "name": "CST",
              "value": "={{ ($json['output.itens'].cst).slice(0,1) }}",
              "type": "string"
            },
            {
              "id": "64b9802b-b777-475c-9ca7-6f0ad6e0d6d2",
              "name": "CFOP",
              "value": "={{ $json['output.itens'].CFOP }}",
              "type": "string"
            },
            {
              "id": "d22d4855-825e-4b93-ae21-453549b61f0a",
              "name": "codigo",
              "value": "={{$json['output.itens'].codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1152
      ],
      "id": "c94c0050-7f1a-4f82-b1f2-938222c301a5",
      "name": "Edit Fields 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2ab8bb7-2b21-4a32-a6b0-a7f003b24e04",
              "name": "data",
              "value": "attachment_0",
              "type": "binary"
            },
            {
              "id": "09389608-d213-4411-ace8-e37f1533ed10",
              "name": "E-mail do solicitante",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "ee3edb79-5202-41b7-a1bf-309f459e43ef",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7c0c4070-a60f-4426-a199-0aa0563ea1f0",
              "name": "Setor",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        1152
      ],
      "id": "9e127e33-339b-4bcf-84f0-3558244c99d3",
      "name": "Edit Fields 1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        1136
      ],
      "id": "cfb5a394-5c27-4e08-a61e-c68f8a131572",
      "name": "Edit Fields 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5232,
        1728
      ],
      "id": "0db99f7d-00f7-41d1-b102-d9b58091563e",
      "name": "Edit Fields 6"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        608,
        1184
      ],
      "id": "a28ce5ba-0440-4322-b879-242cae1b7de0",
      "name": "Microsoft Outlook Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta (id_conta) correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\n\nConsultar a tool get rows do Google Sheets para obter a lista de contas disponíveis (colunas: número da conta e descrição)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\n\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o número da conta exatamente como está na planilha\nEscolha APENAS entre os números de contas retornados pela tool get rows\nNÃO invente, modifique ou crie novos números de conta\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\n\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse a descrição da conta da planilha para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\n\nConsultar a tool get rows do Google Sheets\nLer número da conta + descrição\nAnalisar setor + descrição do item\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        5440,
        544
      ],
      "id": "348c1535-7e6b-4162-92fa-777445e1e30b",
      "name": "Classificador conta IB",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "PWue6OTmm868MBhI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta (id_conta) correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\n\nConsultar a tool get rows do Google Sheets para obter a lista de contas disponíveis (colunas: número da conta e descrição)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\n\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o número da conta exatamente como está na planilha\nEscolha APENAS entre os números de contas retornados pela tool get rows\nNÃO invente, modifique ou crie novos números de conta\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\n\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse a descrição da conta da planilha para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\n\nConsultar a tool get rows do Google Sheets\nLer número da conta + descrição\nAnalisar setor + descrição do item\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        5440,
        1136
      ],
      "id": "8918b067-fcd5-463e-b27e-3350fa7544f1",
      "name": "Classificador conta TH",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "PWue6OTmm868MBhI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta (id_conta) correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\n\nConsultar a tool get rows do Google Sheets para obter a lista de contas disponíveis (colunas: número da conta e descrição)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\n\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o número da conta exatamente como está na planilha\nEscolha APENAS entre os números de contas retornados pela tool get rows\nNÃO invente, modifique ou crie novos números de conta\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\n\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse a descrição da conta da planilha para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\n\nConsultar a tool get rows do Google Sheets\nLer número da conta + descrição\nAnalisar setor + descrição do item\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        5440,
        1728
      ],
      "id": "570d8525-432b-43a0-95c8-2b4f76338ba6",
      "name": "Classificador conta SL",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "PWue6OTmm868MBhI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6504152f-64be-447a-87e0-0b77eb755ef4",
              "leftValue": "={{ $json.temCodigo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3120,
        848
      ],
      "id": "7b1923b8-c679-4f49-aecc-5922fdb1fb61",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Produto: {{ $json['Nome do item'] }}\nNCM: {{ $json.NCM }}\n\nO NCM é claramente incompatível com o produto?"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é responsável apenas por verificar se um NCM é claramente incompatível com um produto.\n\nRegras:\n- Não faça análise técnica detalhada.\n- Considere o NCM compatível sempre que houver qualquer plausibilidade razoável.\n- Somente responda FALSO quando o produto e o NCM forem evidentemente de naturezas totalmente diferentes.\n- Se não for claramente absurdo, responda VERDADEIRO.\n- Se a descrição indicar manutenção, troca, reparo ou instalação de um componente, considere o NCM do componente como plausível.\n- Se houver qualquer dúvida, responda VERDADEIRO.\n- Responda apenas com: VERDADEIRO ou FALSO.\n- Não escreva nenhuma explicação.\n- Não escreva texto adicional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2592,
        1168
      ],
      "id": "e5780da7-3dad-4d30-8b4c-8da0a3dde009",
      "name": "Validar NCM",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "PWue6OTmm868MBhI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\nconst temCodigoPreenchido = data.some(\n  item => item['Codigo do item'] !== '' && item['Codigo do item'] !== null && item['Codigo do item'] !== undefined\n);\n\nreturn [{\n  json: {\n    temCodigo: temCodigoPreenchido\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        848
      ],
      "id": "51c2b611-0fa1-45c3-8ff5-1151fdc72fd7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 338709825,
          "mode": "list",
          "cachedResultName": "Conta IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=338709825"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5632,
        736
      ],
      "id": "3d4cc2c4-2278-4455-bfcc-4cc11d7b2fac",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\nwhere item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n  \tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json['CST'] }}'\n\tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json['NCM'] }}'\n\tand CONTA_CONTABIL = '{{ $json.id_conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '2'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6672,
        1296
      ],
      "id": "e5369624-028f-4b0c-ba84-ff145854773c",
      "name": "Microsoft SQL5",
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\nwhere item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n\tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json.CST }}'\n\tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n\tand CONTA_CONTABIL = '{{ $json.id_conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '02'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6624,
        608
      ],
      "id": "952fa74d-0e8f-44e2-ae68-3762276bb4d6",
      "name": "Microsoft SQL7",
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd0e539b-f7db-4cb7-8099-05516b131f86",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6832,
        608
      ],
      "id": "20c5489e-abf0-49e2-934b-233c018bdbb4",
      "name": "If2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " Conta TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5616,
        1344
      ],
      "id": "b0082f3d-ab2f-4cbc-85bf-0254876db275",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba1f1b68-250b-4ce9-881a-4add01b5546b",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6880,
        1296
      ],
      "id": "14b67747-716e-43d3-bdbd-9bc522ece54f",
      "name": "If9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\n  where item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n\tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json['CST'] }}'\n  \tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json['NCM'] }}'\n\tand CONTA_CONTABIL = '{{ $json.id_conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '03'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6656,
        1904
      ],
      "id": "89def850-09a4-4c24-9004-0d8dfdf8c7a5",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "23930cf9-a2dc-4b47-ba3a-a6a31d053495",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6864,
        1904
      ],
      "id": "51138f55-9674-42da-9871-9e12a6b2df88",
      "name": "If10"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 461745371,
          "mode": "list",
          "cachedResultName": "Conta SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=461745371"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5536,
        1936
      ],
      "id": "40edc661-0953-421f-a9e8-dac54df078fb",
      "name": "Get row(s) in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYNJtsCw8pOpm1uG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado IB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Reply to a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado TH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Reply to a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado SL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Reply to a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de códigos de itens salinas": {
      "main": [
        [
          {
            "node": "Código para separar String de int1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Tommy": {
      "main": [
        [
          {
            "node": "Código para separa String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Inbrands": {
      "main": [
        [
          {
            "node": "Código para separar String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado SL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado TH": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado IB": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão do Banco de dados": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Inbrands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL8": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Tommy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL6": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de códigos de itens salinas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int1": {
      "main": [
        [
          {
            "node": "Edit Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separa String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 3": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 2": {
      "main": [
        [
          {
            "node": "Microsoft SQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Microsoft SQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decisão do Banco de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar NCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 4": {
      "main": [
        [
          {
            "node": "Classificador conta IB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 5": {
      "main": [
        [
          {
            "node": "Classificador conta TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 6": {
      "main": [
        [
          {
            "node": "Classificador conta SL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta IB": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta TH": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta SL": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar NCM": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta IB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL5": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL7": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta TH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta SL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dae9418b-11fc-43f0-b99e-0b2dee841f4a",
  "meta": {
    "instanceId": "2efdf59d22b01f5b3cc02c6e5343efb0018294d35df8715600aeda534f49f95d"
  },
  "id": "vMnEtXEqtqqBiEjybJ-fM",
  "tags": [
    {
      "updatedAt": "2026-03-19T02:29:18.630Z",
      "createdAt": "2026-03-19T02:29:18.630Z",
      "id": "1zrEOvHGlIcqbdFY",
      "name": "Cadastro de itens"
    }
  ]
}