Cadastro itens de consumo completo.json
{
  "name": "Cadastro itens de consumo completo",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 4').item.json.codigo_item }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $('Code in JavaScript').item.json.conta }}'\n  , '13'\n  , '02'\n  , '07'\n  , '9')\n\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6448,
        736
      ],
      "id": "dbef637b-41ea-42cb-9de2-2b08771f2ff0",
      "name": "Microsoft SQL",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5152,
        624
      ],
      "id": "c7d498a0-a621-4911-b4d2-50de91bf98f6",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE\n  , TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 5').item.json.codigo_item }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $('Code in JavaScript').item.json['id_conta'] }}'\n  , '13'\n  , '2'\n  , '07'\n  , '9')",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6464,
        1392
      ],
      "id": "8defb13c-ecf5-4986-a90d-e45cc8f4ca85",
      "name": "Microsoft SQL2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5184,
        1216
      ],
      "id": "f7ee8234-022b-4cf3-9e17-e9d08817b08e",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n  (ITEM_DESCRICAO\n    , CODIGO_ITEM\n    , UNIDADE\n    , TRIBUT_ORIGEM\n    , CLASSIF_FISCAL\n    , CONTA_CONTABIL\n    , INDICADOR_CFOP\n    , ITEM_FISCAL_GRUPO\n    , TIPO_ITEM_SPED\n    , IDENT_UTILIZACAO_IMOB)\nVALUES\n  ('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n    , '{{ $('Edit Fields 6').item.json.codigo_item }}'\n    , 'UN'\n    , '{{ $('Loop Over Items').item.json.CST }}'\n    , '{{ $('Loop Over Items').item.json.NCM }}'\n    , '{{ $('Code in JavaScript').item.json['id_conta'] }}'\n    , '13'\n    , '03'\n    , '07'\n    , '9')",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6464,
        2000
      ],
      "id": "e3b8be6a-b054-405a-a471-2c50bf15a02e",
      "name": "Microsoft SQL3",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5184,
        1808
      ],
      "id": "b9b70821-1d7d-413f-9340-329418273e8f",
      "name": "If5"
    },
    {
      "parameters": {
        "content": "## Decisão da conta contábil ",
        "height": 1584,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        560
      ],
      "typeVersion": 1,
      "id": "94954cb9-dabf-4223-878d-d3d6f1d33df6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Reponde o e-mail para o usuário que solicitou o cadastro",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2608,
        640
      ],
      "typeVersion": 1,
      "id": "b3a8b93b-84e9-4d37-bc3c-9ad0353c7589",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Comando do SQL que insere os dados do cadastro direto no banco\n",
        "height": 1600,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6416,
        544
      ],
      "typeVersion": 1,
      "id": "e5f00a3a-7b10-445e-a23c-a56e110884bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IA que vai decidir se o NCM informado esta certo.",
        "height": 320,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1824,
        1104
      ],
      "typeVersion": 1,
      "id": "00a5e8a6-7eee-498c-b2ee-4f6a2753a87a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "09",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e4995cc-3568-44bc-a031-73ce9127e328"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INBRANDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66a77779-5c92-4be3-b1e3-83a759a808e0",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOMMY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d88002-6847-4262-a43a-5d2f1374be6b",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "06",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALINAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a97cb03-f882-4fde-9122-bf3240e70297",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nenhum e-mail correto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2704,
        1184
      ],
      "id": "ac09d959-fa4b-4b90-9bf1-00188346c748",
      "name": "Decisão do Banco de dados"
    },
    {
      "parameters": {
        "content": "## Se nenhuma conta contábil se encaixar com o item, entrara em contato com algum responsável\n",
        "height": 1648,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5408,
        144
      ],
      "typeVersion": 1,
      "id": "b2f0d776-937e-48e9-8db9-f7f017fb8e05",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3376,
        560
      ],
      "id": "98ee9cdd-c422-4303-875f-eca654c1eaec",
      "name": "Microsoft SQL4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3584,
        560
      ],
      "id": "8423685f-2974-411b-a7fe-da2db27068d9",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3344,
        1216
      ],
      "id": "51668463-46e3-4b00-8913-62f23d19c943",
      "name": "Microsoft SQL8",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3584,
        1216
      ],
      "id": "0c4c201a-353d-44d0-8fbb-a67489153931",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3360,
        1808
      ],
      "id": "dd8424a0-e243-4906-99bc-e151e7115a42",
      "name": "Microsoft SQL6",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3568,
        1808
      ],
      "id": "bf30a726-d3c1-4d40-9e89-62d705ba4286",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Pega o código do campo\nconst codigo = $json.codigo_IB;\n\n// 2️⃣ Segurança: se não houver código válido\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\n// 3️⃣ Extrai letras e números\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Retorna apenas o novo código\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        624
      ],
      "id": "d424d31d-f33b-45b0-bc92-9473d6fa4448",
      "name": "Código para separar String de int"
    },
    {
      "parameters": {
        "jsCode": "const codigo = $json.codigo_salinas;\n\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\nconst novoNumero = numeroAtual + 1;\n\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        1808
      ],
      "id": "4e2a3970-b5ec-42f4-a27a-d89c8cbdbe24",
      "name": "Código para separar String de int1"
    },
    {
      "parameters": {
        "jsCode": "const codigo = $json.codigo_TH;\n\nif (!codigo) {\n  return [{ json: { erro: \"SEM_CODIGO_VALIDO\" } }];\n}\n\nconst match = codigo.match(/^([A-Za-z]+)(\\d+)$/);\nif (!match) {\n  return [{ json: { erro: \"FORMATO_INVALIDO\" } }];\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\nconst novoNumero = numeroAtual + 1;\n\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\nreturn [{ json: { novo_codigo: `${prefixo}${novoNumeroFormatado}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        1216
      ],
      "id": "6075effa-4080-4953-a067-5257f01e4bc3",
      "name": "Código para separa String de int"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5728,
        1984
      ],
      "id": "2f0cedaa-33f0-4b20-909b-d7108a1c02c0",
      "name": "Cria o output em JSON 3"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5744,
        1376
      ],
      "id": "21413871-77d4-4920-b740-d4ee40029940",
      "name": "Cria o output em JSON 2"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.content.parts[0].text;\n\n// pega só o JSON dentro do texto\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{ json: { id_conta: false } }];\n}\n\nconst conta = JSON.parse(match[0]);\n\nreturn [\n  {\n    json: conta\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5728,
        720
      ],
      "id": "553c5011-728b-4d58-a848-85a507977fec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        544,
        1216
      ],
      "id": "20a6b60f-17bb-4db2-b9ec-91937f3174c3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"Extrair campo CNPJ/CPF do destinatario\"\n    },\n    \"itens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome_item\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair a descrição completa do produto ou serviço exatamente como aparece no documento.\"\n          },\n          \"ncm\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo NCM\"\n          },\n          \"cst\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CST ou O/CST ou CSOSN\"\n          },\n          \"CFOP\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CFOP\"\n          },\n          \"codigo\": {\n            \"type\" : \"string\",\n            \"description\" : \"em itens da nota fiscal extrair o campo codigo\"\n          }\n        },\n        \"required\": [\n          \"nome_item\",\n          \"ncm\",\n          \"cst\",\n          \"CFOP\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"cnpj\",\n    \"itens\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        752,
        1216
      ],
      "id": "1b05fa51-d7a2-479e-8a4a-cb4e3403a400",
      "name": "Information Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        1424
      ],
      "id": "ffd3962f-7b03-4940-a225-acb0c1b9199e",
      "name": "Google Gemini Chat Model4",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "099cd04c-e7f2-46a9-b076-18768c4a707f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        1232
      ],
      "id": "eafb6cfd-5c80-4e44-93b7-541b0bb07309",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para suporte caso o NCM não bata com a descrição do item",
        "height": 336,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        1408
      ],
      "typeVersion": 1,
      "id": "aa5bfd2e-601d-4de9-bac0-2686c8c13d63",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.itens",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        1216
      ],
      "id": "f346c36e-9c8c-4042-b5c9-d6e52271c3f7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        1216
      ],
      "id": "a0d479f5-32b1-4278-a0a5-931398fd0907",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1920,
        912
      ],
      "id": "5bbfd595-e6c6-40fd-a57b-6071d807c110",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "content": "## Manda e-mail falando que o CNPJ esta errado ",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3296,
        2144
      ],
      "id": "48ceb42f-007d-4dfc-90bb-6fb80929cfe8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Verifica se o NCM esta no banco",
        "height": 1584,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3296,
        416
      ],
      "id": "d1d7e324-a122-4158-af45-36f329d307ba",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Estrai do PDF todos os dados ",
        "height": 304,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        1088
      ],
      "id": "b38bf47b-edfe-467e-8e62-59454eec6d5f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## IA que identifica os campos informados e retorna seus respectivos resultados",
        "height": 496,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1056
      ],
      "id": "6ebf94a0-518e-4e36-afc7-f05ffbcfdeb4",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Automação cadastro de itens ",
        "height": 2336,
        "width": 7120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        96
      ],
      "id": "eb83d11b-ec3f-4113-83c0-893ec2cbd467",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3856,
        352
      ],
      "id": "8817b24a-0f99-4d93-a108-6db66949d7f9",
      "name": "Send a message",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\n<br><br>O codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\n<br><br>Segue dados:\n\n<br><br>Descrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Com o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\n<br><br>Com o CST: {{ $('Edit Fields 2').item.json.CST }}\n\n<br><br>E com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6720,
        912
      ],
      "id": "0243ff39-2736-4484-96d5-6d8259ad2893",
      "name": "Send a message1",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n<br><br>\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br><br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n<br><br>\nSegue dados:\n<br><br>\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n<br><br>\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n<br><br>\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n<br><br>\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6752,
        1552
      ],
      "id": "446d700b-ca60-4e26-847e-36a9ff1057e9",
      "name": "Send a message2",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6704,
        2160
      ],
      "id": "27082fb7-20ab-4050-8e55-499aa34deedd",
      "name": "Send a message3",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3808,
        1008
      ],
      "id": "c249a37a-93cc-43a7-a8de-f54007c91f27",
      "name": "Send a message4",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3824,
        1584
      ],
      "id": "c8a405ad-4b0b-448c-898a-03839bad27cc",
      "name": "Send a message5",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        624
      ],
      "id": "0e1402c9-9d53-4a71-be51-e4555bd20462",
      "name": "Edit Fields 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a167fc-4392-45cc-8a6e-efeb6ffbff77",
              "name": "BANCO",
              "value": "={{ ($json.output.cnpj).slice(0,2) }}",
              "type": "string"
            },
            {
              "id": "ab6d938a-8b78-4820-a81d-4afa1e908ee1",
              "name": "NCM",
              "value": "={{ ($json['output.itens'].ncm).replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "83cdcb94-679f-4860-968c-82a94680bced",
              "name": "Nome do item",
              "value": "={{ $json['output.itens'].nome_item }}",
              "type": "string"
            },
            {
              "id": "8b8589f0-02e5-4852-ad34-89908560b00a",
              "name": "CST",
              "value": "={{ ($json['output.itens'].cst).slice(0,1) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        1216
      ],
      "id": "ca1fcbb8-f298-4862-8336-d4f3130ae392",
      "name": "Edit Fields 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09389608-d213-4411-ace8-e37f1533ed10",
              "name": "E-mail",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "7c0c4070-a60f-4426-a199-0aa0563ea1f0",
              "name": "Setor",
              "value": "={{ $json.setor }}",
              "type": "string"
            },
            {
              "id": "848c1cd0-f8a5-4a7f-9979-f67b2d15d2d9",
              "name": "data",
              "value": "data",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1216
      ],
      "id": "952ead9d-6ac6-4abb-94e0-c362b6010a82",
      "name": "Edit Fields 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        1216
      ],
      "id": "1c9f833e-0756-43e3-8937-537e5b19143f",
      "name": "Edit Fields 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "codigo_item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4544,
        1808
      ],
      "id": "3f72892b-7ddb-4af7-a97e-905691ccf052",
      "name": "Edit Fields 6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas IB\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        4752,
        624
      ],
      "id": "7e2b5902-6a81-4851-ae54-c83edd346f27",
      "name": "Classificador conta IB",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta (id_conta) correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas TH\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        4752,
        1216
      ],
      "id": "ce7729b9-b7e5-4b91-8646-f3b598b2a4e0",
      "name": "Classificador conta TH",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante:\n{{ $('Edit Fields 1').item.json.Setor }}\n\nConsidere que a lista de contas será obtida automaticamente pela tool.\n\nEscolha o número da conta (id_conta) correto com base na descrição e no setor.\n\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE deverá:\nConsultar a tool \"Contas IB\" para obter a lista de contas disponíveis (colunas: numero_conta e desc_conta)\nUtilizar essas contas como única base válida para decisão\n\nVocê receberá como entrada:\na descrição do item\no setor do solicitante\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\nSua resposta DEVE conter APENAS JSON válido\nNÃO escreva texto, explicações ou markdown\nNÃO use blocos ```\nNÃO use frases antes ou depois do JSON\nNÃO explique o motivo\nRetorne APENAS o valor do campo \"numero_conta\" exatamente como retornado pela tool \"Contas IB\"\nEscolha APENAS entre os valores de \"numero_conta\" retornados pela tool \"Contas IB\"\nNÃO invente, modifique ou crie novos números de conta\nSe o número que você quer retornar não estiver na lista recebida da tool, retorne {\"id_conta\":false}\nSe não houver correspondência clara entre o item (considerando descrição + setor) e as contas retornadas, retorne {\"id_conta\":false}\nSe o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\nSe qualquer texto for incluído fora do JSON, a resposta será considerada inválida\n\nCRITÉRIO DE DECISÃO:\nPriorize contas normalmente utilizadas pelo setor informado\nNÃO infira uso diferente do setor informado\nContas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\nEstruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\nUse o campo \"desc_conta\" da tool para encontrar a melhor correspondência com o item\nSe mais de uma conta parecer possível, escolha a mais comum para o setor informado\nSe a decisão não for clara, retorne {\"id_conta\":false}\n\nFLUXO OBRIGATÓRIO:\nConsultar a tool \"Contas salinas\"\nLer os campos \"numero_conta\" e \"desc_conta\" de cada item retornado\nAnalisar setor + descrição do item\nConfirmar que o número escolhido existe na lista antes de responder\nRetornar o número da conta correspondente\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO_DA_CONTA\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        4752,
        1808
      ],
      "id": "12459dca-1278-49bd-b7fb-41af959e349e",
      "name": "Classificador conta SL",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6504152f-64be-447a-87e0-0b77eb755ef4",
              "leftValue": "={{ $json.temCodigo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        912
      ],
      "id": "98558086-8577-4069-b708-3ecff1b5d129",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Produto: {{ $json['Nome do item'] }}\nNCM: {{ $json.NCM }}\n\nO NCM é claramente incompatível com o produto?"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é responsável apenas por verificar se um NCM é claramente incompatível com um produto.\n\nPara verificar, você DEVE obrigatoriamente consultar a ferramenta \"Tabela TIPI\" com o código NCM recebido antes de responder.\n\nRegras:\n- Não faça análise técnica detalhada.\n- Considere o NCM compatível sempre que houver qualquer plausibilidade razoável.\n- Somente responda FALSO quando o produto e o NCM forem evidentemente de naturezas totalmente diferentes.\n- Se não for claramente absurdo, responda VERDADEIRO.\n- Se a descrição indicar manutenção, troca, reparo ou instalação de um componente, considere o NCM do componente como plausível.\n- Se houver qualquer dúvida, responda VERDADEIRO.\n- Responda apenas com: VERDADEIRO ou FALSO.\n- Não escreva nenhuma explicação.\n- Não escreva texto adicional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1856,
        1232
      ],
      "id": "3d3587ac-d774-4201-96ad-dae59da4def7",
      "name": "Validar NCM",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fI1w759unI7eXoch",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\nconst campos = ['codigo_IB', 'codigo_TH', 'codigo_salinas'];\n\nconst temCodigoPreenchido = data.some(item =>\n  campos.some(campo => {\n    const val = item[campo];\n    return val !== null && val !== undefined && String(val).trim() !== '';\n  })\n);\n\nreturn [{\n  json: {\n    temCodigo: temCodigoPreenchido\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        912
      ],
      "id": "0af3f9c9-b787-4141-8504-1baed738e2c3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\nwhere item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n  \tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json['CST'] }}'\n\tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json['NCM'] }}'\n\tand CONTA_CONTABIL = '{{ $json.conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '2'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5984,
        1376
      ],
      "id": "41560424-5a47-48bb-a2ce-8745a3866c11",
      "name": "Microsoft SQL5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\nwhere item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n\tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json.CST }}'\n\tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n\tand CONTA_CONTABIL = '{{ $json.conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '02'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5968,
        720
      ],
      "id": "e622ac98-84f2-41f1-bcd5-adc5f88df2f2",
      "name": "Microsoft SQL7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd0e539b-f7db-4cb7-8099-05516b131f86",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6144,
        720
      ],
      "id": "c6955c94-544f-4024-8648-c77e42e52a74",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba1f1b68-250b-4ce9-881a-4add01b5546b",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6192,
        1376
      ],
      "id": "9cedeb4f-f2c6-4f7c-bbae-73a2539c4517",
      "name": "If9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe\nfrom cadastro_item_fiscal\n  where item_descricao = '{{ $('Loop Over Items').item.json['Nome do item'] }}'\n\tand unidade = 'UN'\n\tand TRIBUT_ORIGEM = '{{ $('Loop Over Items').item.json['CST'] }}'\n  \tand CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json['NCM'] }}'\n\tand CONTA_CONTABIL = '{{ $json.conta }}'\n\tand INDICADOR_CFOP = '13'\n\tand item_fiscal_grupo = '03'\n\tand TIPO_ITEM_SPED = '07'\n\tand IDENT_UTILIZACAO_IMOB = '9'\n\tand INATIVO = 0",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5968,
        1984
      ],
      "id": "f12cb494-4442-467e-8fab-eefd89459e98",
      "name": "Microsoft SQL1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "23930cf9-a2dc-4b47-ba3a-a6a31d053495",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6176,
        1984
      ],
      "id": "6550e6b4-3309-48f7-9a25-0c56be8e2353",
      "name": "If10"
    },
    {
      "parameters": {
        "toolDescription": "Consulta a descrição oficial de um código NCM na Tabela TIPI brasileira.\nUse esta ferramenta sempre que precisar verificar a descrição de um código NCM.\nInput: código NCM com 8 dígitos (somente números, sem pontos ou traços).\nOutput: descrição oficial do produto conforme a TIPI vigente.",
        "url": "=https://api-comexstat.mdic.gov.br/tables/ncm/{{ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2048,
        1408
      ],
      "id": "c6675c46-1dcd-42c4-bcb0-8009a4398dcf",
      "name": "Tabela TIPI"
    },
    {
      "parameters": {
        "formTitle": "Cadastro de itens de consumo",
        "formDescription": "Atenção: preencha todos os campos corretamente e anexe somente \n1 arquivo por envio. Formulários incompletos ou com mais de um \nanexo serão desconsiderados.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Informe o seu e-mail corporativo",
              "fieldType": "email",
              "fieldName": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Qual o setor solicitante.",
              "fieldType": "dropdown",
              "fieldName": "setor",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Manutenção"
                  },
                  {
                    "option": "Obras"
                  },
                  {
                    "option": "T.I"
                  },
                  {
                    "option": "Visual Merchandising"
                  },
                  {
                    "option": "Recursos Humanos (RH)"
                  },
                  {
                    "option": "Estilos"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Anexe a nota fiscal (Apenas será aceito notas fiscais legíveis)",
              "fieldType": "file",
              "fieldName": "data",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        144,
        1216
      ],
      "id": "53f5361b-3a93-4019-95c1-07c5aa4f26d1",
      "name": "On form submission",
      "webhookId": "24d35ac4-b803-422d-9ca0-c5db51cb0497"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields 1').item.json['E-mail'] }}",
        "subject": "Cadastro de itens Fiscal",
        "message": "=Olá!\n<br><br>Segue o cadastro de itens abaixo.\n<br><br>\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Código do item</th>\n            <th style=\"border: 1px solid #ccc;\">Descrição do item</th>\n        </tr>\n    </thead>\n    <tbody>\n    {{\n    $('Aggregate3').first().json.data\n      .filter(d => d.codigo_IB && d.desc_item)\n      .map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.codigo_IB}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.desc_item}\n            </td>\n        </tr>\n      `).join('')\n    }}\n    </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2688,
        768
      ],
      "id": "da3b53a5-c103-45c7-9ba5-de8314415be8",
      "name": "Send a message6",
      "webhookId": "8d3d666d-119f-4375-b8cf-52db22294ddc",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields 1').item.json['E-mail do solicitante'] }}",
        "subject": "Cadastro de itens Fiscal",
        "message": "=Olá!\n\n<br><br>O item {{ $('Loop Over Items').item.json['Nome do item'] }} não combina com o NCM {{ $('Loop Over Items').item.json.NCM }}.\n\n<br><br>Para o cadastro desse item e quando o NCM estiver correto necessario realizar o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2512,
        1584
      ],
      "id": "f2d4c4b9-2db0-412a-b640-8f012bc43c90",
      "name": "Send a message7",
      "webhookId": "4196579f-bf24-40bc-8a9d-466e6148e892",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields1').item.json.E-mail }}",
        "subject": "Cadastro de itens Fiscal",
        "emailType": "text",
        "message": "=Olá!\n\nO usuário {{ $('Edit Fields1').item.json.E-mail }} acabou enviando uma nota para cadastro com um CNPJ que não e nosso. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3360,
        2256
      ],
      "id": "d092bb6e-7b8f-4153-bb69-a1ae37a1e5b7",
      "name": "Send a message8",
      "webhookId": "9696469c-eaa7-4573-b6fa-51a856d36a17",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields1').item.json.E-mail }}",
        "subject": "Cadastro de itens Fiscal",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5504,
        1584
      ],
      "id": "1fc12554-bda8-4d97-991d-f82610a0e598",
      "name": "Send a message9",
      "webhookId": "1c3aaf32-984f-491a-af54-8b225520fd8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields1').item.json.E-mail }}",
        "subject": "Cadastro de itens Fiscal",
        "message": "=Olá!\n\n<br><br>Não foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Caso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5488,
        1008
      ],
      "id": "ce239227-a4de-46b9-a3d3-c18013f82bfa",
      "name": "Send a message10",
      "webhookId": "ae2d0836-c6c9-4b3f-ba92-e86366184cd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields 1').item.json['E-mail do solicitante'] }}",
        "subject": "Cadastro de itens Fiscal",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5488,
        352
      ],
      "id": "d8346737-01da-455b-8b45-84123e4001bb",
      "name": "Send a message11",
      "webhookId": "70d40ea8-2411-464a-b123-c79b412aa452",
      "credentials": {
        "gmailOAuth2": {
          "id": "KXRxpeKrrQda1PrL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "agLxvRgrY7zXAFby",
          "mode": "list",
          "cachedResultName": "Contas contábeis IB",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/agLxvRgrY7zXAFby"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        4928,
        816
      ],
      "id": "85c9e94d-33b9-4c15-9d45-c75655b26db6",
      "name": "Contas IB"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DZ8K8bQwH9iwwByS",
          "mode": "list",
          "cachedResultName": "Contas contábeis TH",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/DZ8K8bQwH9iwwByS"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        4912,
        1424
      ],
      "id": "c94544ce-26bd-4fda-b9ac-cb0140680ed6",
      "name": "Contas TH"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "XfhSWIN8FRXjIV8U",
          "mode": "list",
          "cachedResultName": "Contas contábeis salinas",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/XfhSWIN8FRXjIV8U"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        4848,
        2016
      ],
      "id": "e4fbace0-d81b-4732-884e-d84f1fbdafbd",
      "name": "Contas salinas"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_salinas"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4016,
        1808
      ],
      "id": "56fe8351-1666-490e-806d-d3f45b40f820",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4016,
        624
      ],
      "id": "25366deb-24a4-44e1-8961-2678fb1323e5",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4000,
        1216
      ],
      "id": "5efe9076-64a8-47ef-8845-decbafacb510",
      "name": "Get row(s)3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_IB",
              "keyValue": "={{ $('Get row(s)1').item.json.codigo_IB }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_IB": "={{ $('Edit Fields 4').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6720,
        704
      ],
      "id": "93d27fa7-9866-44e1-9326-a194283cc661",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_TH",
              "keyValue": "={{ $('Get row(s)').item.json.codigo_TH }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_TH": "={{ $('Edit Fields 5').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6736,
        1360
      ],
      "id": "fbfb39b2-28d0-4539-858e-caf999f3d180",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "6DWdaDtZ7jzdGawi",
          "mode": "list",
          "cachedResultName": "Códigos cadastros",
          "cachedResultUrl": "/projects/j1ohQRu38vLkXag5/datatables/6DWdaDtZ7jzdGawi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "codigo_salinas",
              "keyValue": "={{ $('Get row(s)3').item.json.codigo_salinas }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_salinas": "={{ $('Edit Fields 6').item.json.codigo_item }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codigo_IB",
              "displayName": "codigo_IB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_TH",
              "displayName": "codigo_TH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "codigo_salinas",
              "displayName": "codigo_salinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6688,
        1968
      ],
      "id": "513c2e28-f1be-49ff-aa0c-30453e07a611",
      "name": "Update row(s)2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4fd1a6d-98db-4727-afee-6fbc491343e8",
              "name": "codigo_IB",
              "value": "={{ $json.codigo_IB }}",
              "type": "string"
            },
            {
              "id": "d0b9d7e3-649c-486c-8f58-42810ec479be",
              "name": "desc_item",
              "value": "={{ $('Loop Over Items').item.json['Nome do item'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6928,
        704
      ],
      "id": "f40da289-ff18-42b0-9b85-839e52e9866c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08e6e45e-294f-44c8-8c1a-70727b901f2c",
              "name": "codigo_TH",
              "value": "={{ $json.codigo_TH }}",
              "type": "string"
            },
            {
              "id": "3e383ec5-1a73-49df-9434-9a9188392f09",
              "name": "desc_item",
              "value": "={{ $('Loop Over Items').item.json['Nome do item'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6944,
        1360
      ],
      "id": "50d7e312-22f3-49cf-a8b9-317b272925fd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0c29906-2e5f-4603-bf12-26b5c7ff506d",
              "name": "codigo_salinas",
              "value": "={{ $json.codigo_salinas }}",
              "type": "string"
            },
            {
              "id": "e0042cd6-87d8-49fb-a72f-1458ad7e7bd4",
              "name": "desc_item",
              "value": "={{ $('Loop Over Items').item.json['Nome do item'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6896,
        1968
      ],
      "id": "d20533e3-ddbe-4bac-9526-f887bbab52c4",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Send a message10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a message9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão do Banco de dados": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL8": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL6": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int1": {
      "main": [
        [
          {
            "node": "Edit Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separa String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 3": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 2": {
      "main": [
        [
          {
            "node": "Microsoft SQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Microsoft SQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decisão do Banco de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar NCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 4": {
      "main": [
        [
          {
            "node": "Classificador conta IB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields 5": {
      "main": [
        [
          {
            "node": "Classificador conta TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 6": {
      "main": [
        [
          {
            "node": "Classificador conta SL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta IB": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta TH": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta SL": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar NCM": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL5": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL7": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabela TIPI": {
      "ai_tool": [
        [
          {
            "node": "Validar NCM",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message10": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message11": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas IB": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta IB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contas TH": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta TH",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contas salinas": {
      "ai_tool": [
        [
          {
            "node": "Classificador conta SL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Código para separar String de int1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Código para separar String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Código para separa String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "14SGJ7AEQ82dLU0W",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "bcfe93af-7dad-49fb-8629-822a0987f992",
  "meta": {
    "instanceId": "1e7948feed7ad6a9d739915ed2a5fb1a4448b6865bf0a3749eb9703dbe25ec1f"
  },
  "id": "B4tWz7lNuDV5Xg2u",
  "tags": [
    {
      "updatedAt": "2026-03-16T22:12:37.414Z",
      "createdAt": "2026-03-16T22:12:37.414Z",
      "id": "SjM7eBU90RPKWG23",
      "name": "Cadastro de itens"
    }
  ]
}